thead tr {
    background-color: #009EFF;
    color: #ffffff;
    text-align: left;
}

th, td {
    padding: 12px 15px;
}

tr {
    border-bottom: 1px solid #dddddd;
}

tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tr:last-of-type {
    border-bottom: 2px solid #009EFF;
}

tr.active-row {
    font-weight: bold;
    color:#009879;
}
